body {
    background-color: #212121;
}

header, footer, div, h1, p, a {
    text-align: center;
    color: white;
}

input {
    padding: 100px;
    margin: 20px;
}

#gray {
    background-color: gray;
}

#orange {
    background-color: orange;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}