body {
    background-color: #212121;
}

header, footer, div {
    text-align: center;
}

h1, p, a {
    color: white;
}

.profile-card > img {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 5px;
}